__pycache__/
*.py[cod]
*$py.class
.venv/
*.csv
.ipynb_checkpoints
*.log
*.tmp
.DS_Store
Thumbs.db
.vscode/
build/
dist/
*.egg-info/
instance/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
htmlcov/
.coverage
*.cover
.cache/